<div class="sample py-2 py-md-3 py-lg-4 border-top border-bottom">
  
  <h2 class="text-primary px-3">Row with single body content area (“Body”)</h2>
  
  <div class="paragraph paragraph--single align-content--center">
    <div class="paragraph__text p-3 p-lg-4 p-xl-5">
      <div class="paragraph__text__inner">
        <h2>Making strides in systems of care</h2>
        <p>
          <img class="in-content-float-left" src="https://source.unsplash.com/collection/1128928/400x300" alt="">
          Advancing collaboration between providers is key to our strategy for making healthcare more affordable. Our systems of care approach—where primary care providers (PCPs) coordinate their patients’ care with specialists and hospitals—has been proven to improve quality and help control costs. The next step forward was to change the way providers are paid. Instead of being reimbursed for each service, 100% of providers in our systems of care are now paid based on the health outcomes for their patients. They can receive higher reimbursement if patients are healthier, and they share in the monetary risk associated with poor health results and cost overruns. To help providers give the best care possible, we share data to help them identify gaps in care, such as members who haven’t received important tests and screenings. </p>
        <p><img class="in-content-float-none" src="https://source.unsplash.com/collection/1128928/1600x900" alt=""></p>
        <p class="display-2">Heading with a class of Display-2</p>
        <p class="display-3">Heading with a class of Display-3</p>
        <p class="display-4">Heading with a class of Display-4</p>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p class="lead"><b>Paragraph with class "lead".</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <ul>
          <li>Unordered list item 1</li>
          <li>Unordered list item 2</li>
          <li>Unordered list item 3</li>
        </ul>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ol>
          <li>Ordered list item 1</li>
          <li>Ordered list item 2</li>
          <li>Ordered list item 3</li>
        </ol>
      </div>
    </div>
  </div>
  
  <div class="paragraph paragraph--single align-content--left container-fluid border border-success">
    <div class="paragraph__text__inner">
      <p class="bg-warning">.align-content--left</p>
    </div>
  </div>

  <div class="paragraph paragraph--single align-content--center container-fluid border border-success">
    <div class="paragraph__text__inner">
      <p class="bg-warning">.align-content--center</p>
    </div>
  </div>
  
  <div class="paragraph paragraph--single align-content--right container-fluid border border-success">
    <div class="paragraph__text__inner">
      <p class="bg-warning">.align-content--right</p>
    </div>
  </div>
</div>
<div class="sample__code alert-success">
  <pre class="px-3">
    <code>
&lt;div class=&quot;paragraph paragraph--single align-content--left&quot;&gt;
  &lt;div class=&quot;paragraph__text p-3 p-lg-4 p-xl-5&quot;&gt;
    &lt;div class=&quot;paragraph__text__inner&quot;&gt;
      &lt;h2&gt;Making strides in systems of care&lt;/h2&gt;
      &lt;p&gt;Advancing collaboration [...]&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

// Options:
// .align-content--left
// .align-content--right
// .align-content--center
    </code>
  </pre>
</div>
