<div class="sample py-2 py-md-3 py-lg-4 border-top border-bottom">

  <h2 class="text-primary px-3">Row with background image & single content area (“Hero”)</h2>

  <div class="paragraph paragraph--single paragraph--bg-img align-content--left align-content--bottom">
    <img class="paragraph__row__bgimage" src="https://source.unsplash.com/collection/1128928/1600x900" alt="">
    <div class="paragraph__text p-3 p-lg-4 p-xl-5">
      <div class="paragraph__text__inner">
        <p class="h4"><span class="badge badge-primary">Accelerate</span></p>
        <h2 class="display-4">$<span class="countup">15.9</span> million saved since the program began in 2014*</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <p><button type="button" class="btn btn-secondary">Call to Action</button></p>
      </div>
    </div>
  </div>

</div>
<div class="sample__code alert-success">
  <pre class="px-3">
    <code>
&lt;div class=&quot;paragraph paragraph--single paragraph--bg-img align-content--left align-content--bottom border-top border-bottom&quot;&gt;
  &lt;img class=&quot;paragraph__row__bgimage&quot; src=&quot;https://source.unsplash.com/collection/1128928/1600x900&quot; alt=&quot;&quot;&gt;
  &lt;div class=&quot;paragraph__text p-3 p-lg-4 p-xl-5&quot;&gt;
    &lt;div class=&quot;paragraph__text__inner&quot;&gt;
      &lt;p class=&quot;h4&quot;&gt;&lt;span class=&quot;badge badge-primary&quot;&gt;Accelerate&lt;/span&gt;&lt;/p&gt;
      &lt;h2 class="display-4"&gt;Single Column row Title that is a little long to test how the text wraps around&lt;/h2&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.&lt;/p&gt;
      &lt;p&gt;&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Call to Action&lt;/button&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

// Options:
// .paragraph__align-content--left
// .paragraph__align-content--right
// .paragraph__align-content--center
// .paragraph__align-content--top
// .paragraph__align-content--middle
// .paragraph__align-content--bottom
    </code>
  </pre>
</div>