<div class="sample py-2 py-md-3 py-lg-4 border-top border-bottom">

  <h2 class="text-primary px-3">Row with single testimonial (“Quote”)</h2>

  <div class="paragraph paragraph--single align-content--center">
    <div class="paragraph__quote p-3 p-lg-4 p-xl-5">
      <figure class="quote">
        <blockquote class="quote__content h4 font-weight-normal">
          <p>By teaming up with Boys &amp; Girls Clubs of Providence, Blue Cross &amp; Blue Shield of Rhode Island has impacted the lives of over 400 children. Through the Soccer For Success program, we have taught our most in need youth how to live a healthy lifestyle while having fun and staying active. <abbr class="initialism" title="Blue Cross Blue Shield Rhode Island">BCBSRI</abbr> is a true community partner committed to the good health of the next generation.</p>
        </blockquote>
        <figcaption class="quote__footer blockquote-footer">
          <cite title="">Nicole Dufresne, CEO, Boys & Girls Clubs of Providence</cite>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="paragraph paragraph--single align-content--left container-fluid border border-success">
    <div class="quote">
      <p class="quote__content bg-warning">.align-content--left</p>
    </div>
  </div>

  <div class="paragraph paragraph--single align-content--center container-fluid border border-success">
    <div class="quote">
      <p class="quote__content bg-warning">.align-content--center</p>
    </div>
  </div>
  
  <div class="paragraph paragraph--single align-content--right container-fluid border border-success">
    <div class="quote">
      <p class="quote__content bg-warning">.align-content--right</p>
    </div>
  </div>

</div>
<div class="sample__code alert-success">
  <pre class="px-3">
    <code>
&lt;div class=&quot;paragraph paragraph--single align-content--center&quot;&gt;
  &lt;div class=&quot;paragraph__quote p-3 p-lg-4 p-xl-5&quot;&gt;
    &lt;figure class=&quot;quote&quot;&gt;
      &lt;blockquote class=&quot;quote__content h4 font-weight-normal&quot;&gt;
        &lt;p&gt;By teaming up with Boys &amp;amp; Girls Clubs of Providence, Blue Cross &amp;amp; Blue Shield of Rhode Island has impacted the lives of over 400 children. &lt;/p&gt;
      &lt;/blockquote&gt;
      &lt;figcaption class=&quot;quote__footer blockquote-footer&quot;&gt;
        &lt;cite title=&quot;&quot;&gt;Nicole Dufresne, CEO, Boys &amp; Girls Clubs of Providence&lt;/cite&gt;
      &lt;/figcaption&gt;
    &lt;/figure&gt;
  &lt;/div&gt;
&lt;/div&gt;

// Options:
// .align-content--left
// .align-content--right
// .align-content--center
    </code>
  </pre>
</div>