// Global
// Rules that BS4 does not ship with

img,
video,
iframe {
  max-width: 100%;
}

pre {
  background-color: rgba($code-color, .1);  
}

// BS4 Reboot is opinionated and removes the user agent default italic style
address {
  font-style: italic;
}


// Layout
.layout {

  &__header {}

  &__main {}

  &__footer {}
}
