// Global
img,
video,
iframe {
  max-width: 100%;
}

// Styles that BS4 does not ship with
pre {
  color: $success;
  background-color: rgba($success, .2);  
}

address {
  font-style: italic;
}


// Layout
.layout {
  
  &__header {}
  
  &__main {}
  
  &__footer {}
}


// Content
.content {
  
  &__header {
    
    .display-1, .display-2, .display-3, .display-4,
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
      margin-top: 0;
    }
  }
  
  &__main {}
}
