// Any internal or external font file declaration or icons. 
// Additional variales for font-family and font-weight are optional


// Global font declarations
//$font-sans: $helvetica;
//$font-serif: $georgia;
//$font-mono: $monospace;

//$font-custom: 'Google Font Name', $font-sans;

// Most Google fonts and others define the weight numerically
//$font-custom-weight-light: 200;
//$font-custom-weight-normal: 400;
//$font-custom-weight-bold: 700;


@mixin icon-font($content) {
  content: $content;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
