// Variables available are located here: _sass/bootstrap/scss/_variables.scss
//
// The intention of prototyping is to override as few of these as possible
// In most cases, Bootstrap should provide enough


// Colors
//
// When we reference colors from Bootstrap in other variables, they break because
// default colors have not been defined yet. Annoyingly, we have to define them twice
$green: #28a745;


// BS4 overrides
$font-family-serif: Georgia, 'Times New Roman', serif;
$line-height-base: 1.625;  // golden ratio number would be 1.618

$pre-color: $green;
$code-color: $green;


// Custom Variables
$font-sans-weight-light: 200;
$font-sans-weight-normal: 400;
$font-sans-weight-bold: 700;