// Import all Abstracts

// Helpful functions and mixins for every project
@import 'functions/functions';
@import 'functions/a11y-color';
@import 'mixins/clamping';
@import 'mixins/fluid-units';
@import 'mixins/fluid-typography';
@import 'mixins/hacks';
@import 'mixins/maintain-ratio';

// Fonts should load at the top of the CSS file
@import 'fonts';

// Project Variables — things that need to be defined before BS4
@import 'project-vars/breakpoints';
@import 'project-vars/colors';
@import 'project-vars/a11y-color-cache';
@import 'project-vars/spacing';
@import 'project-vars/type-sizes';
@import 'project-vars/vars';

// Now import BS4, which uses some of the vars above
@import 'bs4-vars/bs4-buttons';
@import 'bs4-vars/bs4-components';
@import 'bs4-vars/bs4-forms';
@import 'bs4-vars/bs4-general';
@import 'bs4-vars/bs4-grid';
@import 'bs4-vars/bs4-spacing';
@import 'bs4-vars/bs4-typography';
