// Target old IE only — works for IE10 and 11, not newer
@mixin for-old-ie() {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    @content;
  }
}

// Target ANY Firefox browser
@mixin for-any-firefox() {
  // stylelint-disable function-url-quotes
  @-moz-document url-prefix() {
    @content;
  }
  // stylelint-enable function-url-quotes
}
