// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif: $font-custom-family, Georgia, serif;
$font-family-base: $font-family-serif;
// stylelint-enable value-keyword-case

// $font-size-base: 1rem; // Assumes the browser default, typically `16px`. DON'T CHANGE
// $font-size-lg: ($font-size-base * 1.25);
// $font-size-sm: ($font-size-base * .875);

$font-weight-normal: $font-custom-weight-normal;
$font-weight-bold: $font-custom-weight-bold;

$font-weight-base: $font-weight-normal;
// Used for calculations in BS4, can't be CSS vars
$line-height-base: $project-lineheight-base;
$line-height-lg: $project-lineheight-loose;
$line-height-sm: $project-lineheight-tight;


// Fluid Typography

// Set the base sizes — the Mobile sizes
// The mixin should grab the value defined for "base" in our "type-sizes" map
$h1-font-size: one-type-size(h1);
$h2-font-size: one-type-size(h2);
$h3-font-size: one-type-size(h3);
$h4-font-size: one-type-size(h4);
$h5-font-size: one-type-size(h5);
$h6-font-size: one-type-size(h6);

$headings-margin-bottom: $project-vertical-rhythm;
//$headings-font-family: inherit;
$headings-font-weight: $font-weight-normal;
$headings-line-height: $line-height-sm;
//$headings-color: inherit;

$display1-size: one-type-size(display-1);
$display2-size: one-type-size(display-2);
$display3-size: one-type-size(display-3);
$display4-size: one-type-size(display-4);

//$display1-weight: $headings-font-weight;
//$display2-weight: $headings-font-weight;
//$display3-weight: $headings-font-weight;
//$display4-weight: $headings-font-weight;
//$display-line-height: $headings-line-height;

$lead-font-size: one-type-size(h3);
$lead-font-weight: $font-weight-bold;

$small-font-size: one-type-size(small);

//$text-muted: $gray-600;

$paragraph-margin-bottom: $project-vertical-rhythm;

//$blockquote-small-color:      $gray-600;
//$blockquote-font-size:        ($font-size-base * 1.25);
//
//$hr-border-color:             rgba($black, .1);
//$hr-border-width:             $border-width;
//
//$mark-padding:                .2em;
//
//$dt-font-weight:              $font-weight-bold;
//
//$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25);
//$nested-kbd-font-weight:      $font-weight-bold;
//
//$list-inline-padding:         .5rem;
//
//$mark-bg:                     #fcf8e3;
//
//$hr-margin-y:                 $spacer;


// Links
// $link-color: $black;
// $link-decoration: underline;
// $link-hover-color: $black;
// $link-hover-decoration: none;


// Code

//$code-font-size:                    87.5%;
$code-color: $code-color;

//$kbd-padding-y:                     .2rem;
//$kbd-padding-x:                     .4rem;
//$kbd-font-size:                     $code-font-size;
//$kbd-color:                         $white;
//$kbd-bg:                            $gray-900;
//
//$pre-color:                         $gray-900;
//$pre-scrollable-max-height:         340px;
