// Forms

//$label-margin-bottom: $spacer;

//$input-padding-y:                       $input-btn-padding-y;
//$input-padding-x:                       $input-btn-padding-x;
//$input-line-height:                     $input-btn-line-height;

//$input-padding-y-sm:                    $input-btn-padding-y-sm;
//$input-padding-x-sm:                    $input-btn-padding-x-sm;
//$input-line-height-sm:                  $input-btn-line-height-sm;
//
//$input-padding-y-lg:                    $input-btn-padding-y-lg;
//$input-padding-x-lg:                    $input-btn-padding-x-lg;
//$input-line-height-lg:                  $input-btn-line-height-lg;
//
//$input-bg:                              $white;
//$input-disabled-bg:                     $gray-200;
//
//$input-color:                           $gray-700;
//$input-border-color:                    $gray-400;
//$input-border-width:                    $input-btn-border-width;
//$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);
//
//$input-border-radius:                   $border-radius;
//$input-border-radius-lg:                $border-radius-lg;
//$input-border-radius-sm:                $border-radius-sm;
//
//$input-focus-bg:                        $input-bg;
//$input-focus-border-color:              lighten($component-active-bg, 25%);
//$input-focus-color:                     $input-color;
//$input-focus-width:                     $input-btn-focus-width;
//$input-focus-box-shadow:                $input-btn-focus-box-shadow;

//$input-placeholder-color: $gray-500;
//$input-plaintext-color: $body-color;

//$input-height-border:                   $input-border-width * 2;
//
//$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
//$input-height:                          calc(#{$input-height-inner} + #{$input-height-border});
//
//$input-height-inner-sm:                 ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
//$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border});
//
//$input-height-inner-lg:                 ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
//$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border});
//
//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;
//
//$form-text-margin-top:                  .25rem;
//
//$form-check-input-gutter:               1.25rem;
//$form-check-input-margin-y:             .3rem;
//$form-check-input-margin-x:             .25rem;
//
//$form-check-inline-margin-x:            .75rem;
//$form-check-inline-input-margin-x:      .3125rem;
//
//$form-group-margin-bottom:              1rem;
//
//$input-group-addon-color:               $input-color;
//$input-group-addon-bg:                  $gray-200;
//$input-group-addon-border-color:        $input-border-color;
//
//$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
//
//$custom-control-gutter:                 1.5rem;
//$custom-control-spacer-x:               1rem;
//
//$custom-control-indicator-size:         1rem;
//$custom-control-indicator-bg:           $gray-300;
//$custom-control-indicator-bg-size:      50% 50%;
//$custom-control-indicator-box-shadow:   inset 0 .25rem .25rem rgba($black, .1);
//
//$custom-control-indicator-disabled-bg:          $gray-200;
//$custom-control-label-disabled-color:           $gray-600;
//
//$custom-control-indicator-checked-color:        $component-active-color;
//$custom-control-indicator-checked-bg:           $component-active-bg;
//$custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5);
//$custom-control-indicator-checked-box-shadow:   none;
//
//$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg, $input-btn-focus-box-shadow;
//
//$custom-control-indicator-active-color:         $component-active-color;
//$custom-control-indicator-active-bg:            lighten($component-active-bg, 35%);
//$custom-control-indicator-active-box-shadow:    none;
//
//$custom-checkbox-indicator-border-radius:       $border-radius;
//$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");
//
//$custom-checkbox-indicator-indeterminate-bg:          $component-active-bg;
//$custom-checkbox-indicator-indeterminate-color:       $custom-control-indicator-checked-color;
//$custom-checkbox-indicator-icon-indeterminate:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23");
//$custom-checkbox-indicator-indeterminate-box-shadow:  none;
//
//$custom-radio-indicator-border-radius:          50%;
//$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23");
//
//$custom-select-padding-y:           .375rem;
//$custom-select-padding-x:           .75rem;
//$custom-select-height:              $input-height;
//$custom-select-indicator-padding:   1rem; // Extra padding to account for the presence of the background-image based indicator
//$custom-select-line-height:         $input-btn-line-height;
//$custom-select-color:               $input-color;
//$custom-select-disabled-color:      $gray-600;
//$custom-select-bg:                  $input-bg;
//$custom-select-disabled-bg:         $gray-200;
//$custom-select-bg-size:             8px 10px; // In pixels because image dimensions
//$custom-select-indicator-color:     $gray-800;
//$custom-select-indicator:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23");
//$custom-select-border-width:        $input-btn-border-width;
//$custom-select-border-color:        $input-border-color;
//$custom-select-border-radius:       $border-radius;
//$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075);
//
//$custom-select-focus-border-color:  $input-focus-border-color;
//$custom-select-focus-width:         $input-btn-focus-width;
//$custom-select-focus-box-shadow:    0 0 0 $custom-select-focus-width rgba($custom-select-focus-border-color, .5);
//
//$custom-select-font-size-sm:        75%;
//$custom-select-height-sm:           $input-height-sm;
//
//$custom-select-font-size-lg:        125%;
//$custom-select-height-lg:           $input-height-lg;
//
//$custom-range-track-width:          100%;
//$custom-range-track-height:         .5rem;
//$custom-range-track-cursor:         pointer;
//$custom-range-track-bg:             $gray-300;
//$custom-range-track-border-radius:  1rem;
//$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1);
//
//$custom-range-thumb-width:                   1rem;
//$custom-range-thumb-height:                  $custom-range-thumb-width;
//$custom-range-thumb-bg:                      $component-active-bg;
//$custom-range-thumb-border:                  0;
//$custom-range-thumb-border-radius:           1rem;
//$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1);
//$custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-btn-focus-box-shadow;
//$custom-range-thumb-focus-box-shadow-width:  $input-btn-focus-width; // For focus box shadow issue in IE/Edge
//$custom-range-thumb-active-bg:               lighten($component-active-bg, 35%);
//
//$custom-file-height:                $input-height;
//$custom-file-height-inner:          $input-height-inner;
//$custom-file-focus-border-color:    $input-focus-border-color;
//$custom-file-focus-box-shadow:      $input-btn-focus-box-shadow;
//$custom-file-disabled-bg:           $input-disabled-bg;
//
//$custom-file-padding-y:             $input-btn-padding-y;
//$custom-file-padding-x:             $input-btn-padding-x;
//$custom-file-line-height:           $input-btn-line-height;
//$custom-file-color:                 $input-color;
//$custom-file-bg:                    $input-bg;
//$custom-file-border-width:          $input-btn-border-width;
//$custom-file-border-color:          $input-border-color;
//$custom-file-border-radius:         $input-border-radius;
//$custom-file-box-shadow:            $input-box-shadow;
//$custom-file-button-color:          $custom-file-color;
//$custom-file-button-bg:             $input-group-addon-bg;
//$custom-file-text: (
//  en: "Browse"
//);


// Form validation
//$form-feedback-margin-top:          $form-text-margin-top;
//$form-feedback-font-size:           $small-font-size;
//$form-feedback-valid-color:         theme-color("success");
//$form-feedback-invalid-color:       theme-color("danger");
